# Appliance passwords
COLLECTOR_PASSWORD=your_password_here               # collector (10.10.9.239) cli user password
CM_PASSWORD=your_password_here                      # central manager (10.10.9.219) cli user password
TOOLNODE_PASSWORD=your_password_here                # additional collector (10.10.9.229) cli user password
ROOT_PASSWORD=your_password_here                    # root password for all appliances
ACCESSMGR_PASSWORD=your_password_here               # central manager (10.10.9.220) accessmgr UI user password
DEMOUSER_PASSWORD=your_password_here                # demo user UI password

# Machines password
RAPTOR_PASSWORD=your_password_here                  # root password on raptor (10.10.9.70)
HANA_PASSWORD=your_password_here                    # root password on hana (10.10.9.60)
WINSQL_PASSWORD=your_password_here                  # Administrator password on winsql (10.10.9.59)
APPNODE_PASSWORD=your_password_here                 # root password on appnode (10.10.9.50)

# Configuration marameters
DEFAULT_SERVICE_PASSWORD=your_password_here         # password to be used to configure all services set during the lab
PATCH_ARCHIVE=https://ibm.box.com/shared/static/x6uavftz3o3slth8fbwky0qztwterfwp.zip                        # URL to the patch archive
GIM_INSTALLERS_ARCHIVE=https://ibm.box.com/shared/static/v2z4pzh5naluscbui1em2gp5dgjd55s0.zip               # URL to the GIM installers archive
GIM_BUNDLES_ARCHIVE=https://ibm.box.com/shared/static/9uazwre509j9b9rppqw1uot2ngxcnpuy.zip                  # URL to the GIM bundles archive
PATCH_NAME_LIST=SqlGuard-12.0p9997.tgz.enc.sig,SqlGuard-12.0p4015_Snif_Nov_20_2025.tgz.enc.sig              # List of patch names to be installed (comma separated)
PATCH_LIST=9997,4015                                                                                        # List of patch IDs to be installed (comma separated)
GUARDIUM_MINOR_VERSION=12.2                                                                                 # Guardium minor version of lab release

# Dynamic parameters
CLIENT_SECRET=
PATCH_ORDER=
ETAP_CSR_ID=
ETAP_TOKEN=
