# Hasła dla appliances
COLLECTOR_PASSWORD=your_password_here
CM_PASSWORD=your_password_here
TOOLNODE_PASSWORD=your_password_here

# Hasła dla managed machines
RAPTOR_PASSWORD=your_password_here
HANA_PASSWORD=your_password_here
WINSQL_PASSWORD=your_password_here
APPNODE_PASSWORD=your_password_here

# Hasło root
ROOT_PASSWORD=your_password_here

# Hasło użytkownika accessmgr
ACCESSMGR_PASSWORD=your_password_here

# Hasło użytkownika demo
DEMOUSER_PASSWORD=your_password_here

DEFAULT_SERVICE_PASSWORD=your_password_here

PATCH_ARCHIVE=https://ibm.box.com/shared/static/x6uavftz3o3slth8fbwky0qztwterfwp.zip
GIM_INSTALLERS_ARCHIVE=https://ibm.box.com/shared/static/v2z4pzh5naluscbui1em2gp5dgjd55s0.zip
GIM_BUNDLES_ARCHIVE=https://ibm.box.com/shared/static/9uazwre509j9b9rppqw1uot2ngxcnpuy.zip

# Lista numerów patchy do zainstalowania w kolejności (oddzielone przecinkami)
# Przykład: PATCH_LIST=9997,4015 zainstaluje najpierw patch 9997, potem 4015
PATCH_NAME_LIST=SqlGuard-12.0p9997.tgz.enc.sig,SqlGuard-12.0p4015_Snif_Nov_20_2025.tgz.enc.sig
PATCH_LIST=9997,4015
GUARDIUM_MINOR_VERSION=12.2.0

# OAuth Client Secret (generowany automatycznie przez LAB 2)
CLIENT_SECRET=