# Hasła dla appliances
COLLECTOR_PASSWORD=your_password_here
CM_PASSWORD=your_password_here
TOOLNODE_PASSWORD=your_password_here

# Hasła dla managed machines
RAPTOR_PASSWORD=your_password_here
HANA_PASSWORD=your_password_here
WINSQL_PASSWORD=your_password_here
APPNODE_PASSWORD=your_password_here

# Hasło root
ROOT_PASSWORD=your_password_here

# Hasło użytkownika accessmgr
ACCESSMGR_PASSWORD=your_password_here

# Hasło użytkownika demo
DEMOUSER_PASSWORD=your_password_here

PATCH_ARCHIVE=https://ibm.box.com/shared/static/x6uavftz3o3slth8fbwky0qztwterfwp.zip

# OAuth Client Secret (generowany automatycznie przez LAB 2)
CLIENT_SECRET=